@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Manrope:wght@200..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

.poppins {
  font-family: "Poppins", sans-serif;
}

.inter {
  font-family: "Inter", sans-serif;
}

.manrope {
  font-family: "Manrope", sans-serif;
}

/* UNIVERSAL STYLES */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* SHARED STYLES */
.main-color {
  color: rgba(58, 58, 58, 1);
}

.btn-primary {
  border: none;
  border-radius: 40px;
  background-color: rgba(224, 44, 109, 1);
  padding: 10px 24px;
  font-weight: 700;
  color: white;
}

/* NAVBAR AND HEADER STYLES */
header {
  max-width: 1200px;
  margin: 0 auto;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 50px;
}

.navbar h2 {
  font-size: 24px;
  font-weight: 700;
}

.nav-items {
  display: flex;
  gap: 34px;
  align-items: center;
}

.nav-items li {
  list-style: none;
}

.nav-items li a {
  text-decoration: none;
  color: rgba(58, 58, 58, 1);
  font-weight: 600;
}

/* BANNER SECTION STYLES */
.banner {
  margin-top: 120px;
  padding: 40px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 130px;
  background-image: url(../images/Circle\ design.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right center;
}

.banner-content {
  max-width: 582px;
}

.banner-content h1 {
  font-size: 52px;
  font-weight: 700;
  color: rgba(58, 58, 58, 1);
  margin-bottom: 16px;
}

.banner-content p {
  font-weight: 600;
  color: rgba(58, 58, 58, 1);
  line-height: 25px;
  margin-bottom: 16px;
}

.banner-image img {
  width: 100%;
}

/* COMPANY SECTION STYLES */
.company {
  max-width: 1110px;
  margin: 0px auto;
  padding: 120px 0;
}

.company hr {
  border: none;
  height: 2px;
  background: linear-gradient(
    to right,
    rgba(192, 204, 218, 0.1),
    rgba(192, 204, 218, 0.6),
    rgba(192, 204, 218, 0.1)
  );
}

.company-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 60px;
  padding: 40px 20px;
}

/* POPULAR SECTION STYLES */
.popular {
  max-width: 1047px;
  margin: 0 auto;
  margin-bottom: 100px;
}
.popular h2 {
  color: rgba(58, 58, 58, 1);
  font-size: 28px;
  margin-bottom: 30px;
}

.popular-card-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  margin-bottom: 50px;
}

.popular-card {
  background-color: rgba(255, 255, 255, 1);
  padding: 20px 15px;
  border-radius: 8px;
  box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.15);
}

.popular-card img {
  width: 100%;
  margin-bottom: 16px;
}

.popular-card h3 {
  font-size: 28px;
  font-weight: 500;
  color: rgba(24, 25, 31, 1);
  margin-bottom: 6px;
}

.popular-card h4 {
  font-size: 24px;
  color: rgba(0, 0, 0, 0.87);
  margin-bottom: 6px;
}

.popular-card h5 {
  font-size: 14px;
  font-weight: 700;
  color: rgba(94, 99, 102, 1);
  margin-bottom: 6px;
}

.popular-card p {
  font-size: 14px;
  font-weight: 700;
  color: rgba(120, 120, 133, 1);
  line-height: 20px;
}

.popular button {
  color: rgba(224, 44, 109, 0.87);
  font-weight: 700;
  font-size: 18px;
  background-color: white;
  border: none;
  cursor: pointer;
}

.popular span {
  margin-left: 8px;
}

/* MOBILE RESPONSIVE STYLES */
@media screen and (max-width: 576px) {
  .navbar {
    flex-direction: column;
    gap: 40px;
    margin: 0px 10px;
  }

  .navbar h2 {
    font-size: 26px;
  }

  .nav-items {
    flex-wrap: wrap;
    justify-content: center;
  }

  .banner {
    flex-direction: column-reverse;
    background-position: top;
    margin: 0 10px;
    margin-top: 50px;
    gap: 30px;
    padding: 10px 0;
    margin-bottom: 50px;
  }

  .banner-content {
    text-align: center;
  }

  .banner-content h1 {
    font-size: 30px;
  }

  .banner-content p br {
    display: none;
  }

  /* COMPANY SECTION STYLES */
  .company {
    padding: 50px 0;
    margin: 0 10px;
  }
  .company-container {
    flex-wrap: wrap;
    gap: 40px;
    padding: 40px 10px;
  }

  /* POPULAR SECTION STYLES */
  .popular {
    margin: 0px 10px;
    margin-bottom: 70px;
  }

  .popular h2 {
    font-size: 22px;
  }

  .popular-card-container {
    grid-template-columns: repeat(1, 1fr);
    gap: 16px;
  }
}

/* LAPTOP RESPONSIVE STYLES */
@media screen and (min-width: 992px) and (max-width: 1200px) {
  .navbar {
    margin: 0 30px;
    padding-top: 50px;
  }

  .banner {
    margin: 0px 30px;
    margin-top: 120px;
    gap: 100px;
  }

  .banner-content h1 {
    font-size: 46px;
  }

  .banner-image img {
    padding-right: 30px;
  }

  /* COMPANY SECTION STYLES */
  .company {
    margin: 0px 30px;
  }

  .company-container {
    flex-wrap: wrap;
    gap: 50px;
    /* padding: 30px ; */
    padding: 40px 0;
  }

  /* POPULAR SECTION STYLES */
  .popular{
    margin: 0px 20px;
    margin-bottom: 100px;
  }

  .popular-card-container{
    gap: 20px;
  }
}
